input {
    padding: 12px;
    border-radius: 8px;
    border: 1px solid #ffbb33;
    font-size: 1rem;
    margin-right: 0.8rem;
    margin-bottom: 1rem;
}

input::placeholder {
    color: #7b7b7b;
}

@media screen and (max-width: 630px) {
    input {
        width: 100%;
    }
}