.contact-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    width: 100%;
}

.title {
    font-size: 2rem;
    margin-bottom: 2rem;
}

.form {
    display: flex;
    flex-direction: column;
    max-width: 600px;
    width: 100%;
}

.textarea {
    height: 94px;
    border: 1px solid #ffbb33;
    border-radius: 8px;
    padding: 12px;
    margin-right: 0.8rem;
    margin-bottom: 1rem;
    resize: none;
    font-size: 1rem;
}