.earn {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: center;
    padding: 3rem 1rem;
}

.earn .left {
    margin: auto;
}

.earn .left img {
    width: 300px;
    margin-bottom: 2rem;
}

.earn .right p {
    margin: 1.5rem 0;
}

@media screen and (max-width: 940px) {
    .earn {
        grid-template-columns: 1fr;
    }
}